In [1]:
def multiple_by_2 (x):
    'takes x and return x*2'
    x=x*2
    return x

In [2]:
multiple_by_2(2)

4

In [4]:
multiple_by_2?

In [5]:
def multi (a=1,b=2,c=3):
    res= a*b*c
    return res

In [7]:
multi(2)

12

In [8]:
multi(2,3)

18

In [9]:
def multi (*args):
    for x in args:
        res*=x
    return res

In [10]:
def multi2 (*args):
    for x in args:
        res*=x
    return res

In [14]:
def min (a,b,c):
    mins=a
    if b<a:
        mins=b
    elif c<b:
        mins=c
    elif c<a:
        mins=c
    print (str(mins))

In [17]:
min (2,3,1)

1

In [18]:
def reverse (x):
    return x[::-1]

In [19]:
print(reverse("moala"))

alaom

In [28]:
def c_range(s):
    val= True
    if s < 5 or s > 10:
        val= False
    return val

In [29]:
print(c_range(5))

True

In [30]:
print(c_range(2))

False

In [39]:
def find_buzz (y):
    if y%5==0 and y%3==0:
        return "FizzBuzz"
    elif y%3==0 :
        return "Fizz"
    elif y%5==0:
        return "Buzz"
    else:
        return y

In [42]:
print (find_buzz (10))

Buzz

In [41]:
print (find_buzz (11))

11

In [40]:
print (find_buzz (15))

FizzBuzz

In [71]:
def unik (lista):
    nlist=[]
    for e in lista:
        if len(nlist)==0:
            nlist.append(e)
        else:
            n=0
            for j in nlist:
                if j == e:
                    n+=1
            if n == 0 :
                nlist.append(e)
    return nlist

In [73]:
listy= [1,1,1,1,5]
print(unik(listy))

[1, 5]

In [74]:
def com (a="one", b= "second"):
    combine= a+" "+b
    return combine

In [75]:
com("koala")

'koala second'

In [77]:
com("koala","panda")

'koala panda'

In [78]:
def suma(*args):
    l_sum=[]
    for i in args:
        l_sum.append(i)
    return l_sum

In [79]:
print(suma(2,2,5,5,6,85,8))

[2, 2, 5, 5, 6, 85, 8]

In [ ]:

tri = lambda input("1st number"),input("2nd number"),input("3rd number"): inpu