# Heading 1

This is phyton tutorial

## sese

**bold** *italic*

[this is hyperlink](www.google.com)

In [1]:
def square(x):
    return x*x

In [2]:
x = 1
y = square(x)

In [3]:
print (' Is %d squared is %d?' %(x,y))

 Is 1 squared is 1?

In [5]:
x = 10
y = square(x)

In [7]:
print ('%d do kwadrat rowna sie %d' %(x,y))

10 do kwadrat rowna sie 100

start with lower case, joined (no space)

In [8]:
lista = ["Adama", "Karolina", "Edyta"] # list is mutable

In [9]:
lista[0] ="Karol"

In [13]:
lista

['Karol', 'Karolina', 'Edyta']

In [17]:
krotka = ("Ada", "Bes", "Asase") #tuple is imutable
type (krotka)

tuple

In [14]:
price =2.6
type(price)

float

In [15]:
name = "adam"
type (name)

str

In [18]:
print (" to jest tekst z cudzyslowiem w 'srodku'")

 to jest tekst z cudzyslowiem w 'srodku'

In [20]:
print ('to jest tekst z cudzyslowiem w "srodku"')

to jest tekst z cudzyslowiem w "srodku"

In [21]:
name = "Ada Lowlive"

In [22]:
name.upper()

'ADA LOWLIVE'

In [23]:
name.title()

'Ada Lowlive'

In [24]:
name.capitalize()

'Ada lowlive'

In [28]:
data_urodzenia = "20 padziernika"

In [29]:
name_date = name + ' ' +data_urodzenia

In [30]:
print(name_date)

Ada Lowlive 20 padziernika

In [31]:
a =3

In [32]:
a**2

9

In [33]:
print(a)

3

In [34]:
print("wartosc zmiennej to: "+str(a))

wartosc zmiennej to: 3

In [35]:
cars=["audi","bmw", "merci"]

In [36]:
cars[0]

'audi'

In [37]:
cars[-1] # show the last element

'merci'

In [38]:
cars.append("seat") #add new element

In [39]:
cars

['audi', 'bmw', 'merci', 'seat']

In [40]:
len(cars)

4

In [41]:
cars.append("totyota")

In [42]:
len(cars)

5

In [47]:
cars.insert(0, "Honda")

In [48]:
cars

['Honda', 'koala', 'koala', 'audi', 'bmw', 'merci', 'seat', 'totyota']

In [49]:
cars.remove("koala")

In [50]:
cars

['Honda', 'koala', 'audi', 'bmw', 'merci', 'seat', 'totyota']

In [51]:
del cars[3]

In [52]:
cars

['Honda', 'koala', 'audi', 'merci', 'seat', 'totyota']

In [55]:
cena = 2.56

In [56]:
type(cena)

float

In [57]:
int(cena)

2

In [58]:
cena = int(cena)

In [59]:
cena

2

In [60]:
slownie_cena= "Cena kiwi to:" + str(cena)

In [61]:
slownie_cena

'Cena kiwi to:2'

In [63]:
favourite_fruit = "banan"

In [64]:
price = 4.5

In [69]:
print ("moj ulubiony owoc jest "+favourite_fruit+" . To cena jest "+ str(price))

moj ulubiony owoc jest banan . To cena jest 4.5

In [ ]:
list_of_fruit= ("banan","jabka","ananas","mandaryn")

In [81]:
list_of_fruit= ["banan","jabka","ananas","mandaryn"]
print ("Owoce listy - muse kupic: " )
for i in list_of_fruit:
    print(str(list_of_fruit[i]))

Owoce listy - muse kupic:

TypeError: list indices must be integers or slices, not str